body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(231, 234, 246);
  background: linear-gradient(
    90deg,
    rgba(231, 234, 246, 1) 0%,
    rgba(162, 168, 211, 1) 35%,
    rgba(17, 63, 103, 1) 100%
  );
  font-family: "Josefin Sans", sans-serif;
}
form {
  margin: 12px 0;
  top: 46px;
}
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  color: rgba(162, 168, 211, 1);
  font-size: 20px;
  font-weight: 400;
  height: 30px;
  line-height: 1;
  list-style: none;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 400;
  margin: 10px 0;
}

h1 {
  font-size: 45px;
  color: rgba(17, 63, 103, 1);
}

h2 {
  font-size: 30px;
  line-height: 10px;
}

h3 {
  font-size: 25px;
  color: rgba(17, 63, 103, 1);
}

footer {
  display: block;
  position: fixed;
  bottom: 125px;
}

.weather-app {
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 20px;
  max-width: 680px;
  margin: 30px auto;
  padding: 20px;
}

.enter-city {
  font-size: 14px;
  display: block;
}

.submit-button {
  font-size: 14px;
  max-width: 78px;
}

.first-temperature {
  font-size: 55px;
  text-align: center;
  color: rgba(17, 63, 103, 1);
}

.description {
  color: rgba(162, 168, 211, 1);
  font-size: 25px;
}

.weather img {
  display: block;
  float: right;
  height: 90px;
  width: 90px;
}

#units {
  position: relative;
  top: 13px;
  font-size: 20px;
}
